
body{
    font-family: 'Roboto', sans-serif;
  }
  
  .nav-back{
      background: rgba(17, 109, 230, 0.8);
      color: #fff;
  }
  .navbar-brand{
    color: #000;
  }
  .navbar-brand:hover{
    color: #fff;
  }
  .nav-link{
    color: #000;
  }
  .nav-link:hover{
    color:#fff;
  }
  .navbar-toggler{
    outline: none!important;
  }
  
     
   
 
  #shiv{
      width: 100%;
      height: 80vh;
      background: image() center center;
      background-size: cover;
      position: relative;
    }
    
    #shiv .container {
      padding-top: 80px;
    }
    
    #shiv:before {
      content: "";
      background: rgba(0, 0, 0, 0.6);
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
    }
    
    #shiv h1 {
      margin: 0 0 10px 0;
      font-size: 48px;
      font-weight: 700;
      line-height: 56px;
      color: #fff;
    }
    
    #shiv h2 {
      color: #eee;
      margin-bottom: 40px;
      font-size: 15px;
      font-weight: 500;
      font-family: "Open Sans", sans-serif;
      letter-spacing: 0.5px;
      text-transform: uppercase;
    }
    
    .main-btn {
      font-family: "Poppins", sans-serif;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 1px;
      display: inline-block;
      padding: 8px 28px;
      border-radius: 50px;
      transition: 0.5s;
      margin: 10px;
      border: 2px solid #fff;
      color: #fff;
    }
    
     .main-btn:hover {
      background: #11dbcf;
      border: 2px solid #11dbcf;
      text-decoration: none;
      color:#fff;
    }
   .form-group .btn-form{
    background: #11dbcf;
    border: 2px solid #11dbcf;
    text-decoration: none;
    color:#000;
   }
   
   
   

   .footer{
    display: flex;
    background-color: rgb(27, 27, 27); 
     color: aliceblue;
  }
  
  .footer-logo{
    padding: 5% 5%;
    
  }
  
  .footer-logo img{
    width: 225px;
  }
  
  .footer-logo h3{
    padding: 10% 0;
    margin-left: 0;
    font-size: 32px;
    color: aliceblue;
  }
  
  .border{
    width: 90%;
  }
  
  .footer-patient{
    color: aliceblue;
    padding: 5% 3%;
  }
  
  .footer-patient h3,.border{
    margin-left: 30px;
  }
  
  .footer-hospital{
    padding: 5% 3%;
    
  }
  
  .footer-hospital h3,.border{
    margin-left: 25px;
  }
  
  .links{
    list-style-type: none;
    color: aliceblue;
    
  }
  
  .links li{
    padding: 5% 0;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
  }
  
  .icon-box{
    background-color: aliceblue;
  }
  
  .subscribe-form{
    padding: 5% 5%;
  }
  
  .subscribe-form h3{
    margin-left: 55px;
  }
  .form-outer{
    padding: 10% 0;
  }
  .form-input {
    margin: 10px auto;
    position: relative;
    display: flex;
    justify-content: center;
    height: 45px;
    
  }
  
  input{
    border: 2px solid #eee;
    display: block;
    padding-left: 35px;
    width: 300px;
    border-radius: 5px;
  }
  
  .icon{
    position: absolute;
    display: flex;
    left: 10px;
    top: 15px;
    align-items: center;
    color: black;
  }
  
  .submit-btn{
    background-color: #1268b2 ;
    border: none;
    border-color: whitesmoke;
    border-radius: 5px;
    height: 35px;
    width: 85px;
  }
  
  .copyright{
    
    background-color: black;
    color: gray;
    padding: 1% 3%;
    
  }
  
  
  .social-media {
    background-color: rgb(65, 63, 63);
    display: flex;
    padding: 2%;
    justify-content: center;
  
  }
  
  .social-media h5{
    color: aliceblue;
  }
  
  .fab{
    color: rgb(224, 217, 217);
    padding: 0 25px;
    
  }
      
      