

  .navbar{
    background-color: rgb(155, 153, 153);
  }
  
  .navbar .container-fluid{
    padding: 5px 120px;
  }
  
  .navbar .nav-item{
    padding: 0 12px;
    width: 160px;
  }

  .coolBeans {
    border: 2px solid currentColor;
    border-radius: 3rem;
    color: #007bff;
    font-size: 16px;
    font-weight: 100;
    overflow: hidden;
    padding: 0.4rem 2rem;
    position: relative;
    text-decoration: none;
    transition: 0.2s transform ease-in-out;
    will-change: transform;
    z-index: 0;
  }
  .coolBeans::after {
    background-color: #007bff;
    border-radius: 5px;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: 0.2s transform ease-out;
    will-change: transform;
    z-index: -1;
  }
  .coolBeans:hover::after {
    transform: translate(0, 0);
  }
  .coolBeans:hover {
    border: 2px solid transparent;
    transform: scale(1.05);
    will-change: transform;
  }
  
  .footer{
    display: flex;
    background-color: rgb(27, 27, 27); 
     color: aliceblue;
  }
  
  .footer-logo{
    padding: 5% 5%;
    
  }
  
  .footer-logo img{
    width: 225px;
  }
  
  .footer-logo h3{
    padding: 10% 0;
    margin-left: 0;
    font-size: 32px;
    color: aliceblue;
  }
  
  .border{
    width: 90%;
  }
  
  .footer-patient{
    color: aliceblue;
    padding: 5% 3%;
  }
  
  .footer-patient h3,.border{
    margin-left: 30px;
  }
  
  .footer-hospital{
    padding: 5% 3%;
    
  }
  
  .footer-hospital h3,.border{
    margin-left: 25px;
  }
  
  .links{
    list-style-type: none;
    color: aliceblue;
    
  }
  
  .links li{
    padding: 0 0;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
  }
  
  .icon-box{
    background-color: aliceblue;
  }
  
  .subscribe-form{
    padding: 5% 5%;
  }
  
  .subscribe-form h3{
    margin-left: 55px;
  }
  .form-outer{
    padding: 10% 0;
  }
  .form-input {
    margin: 10px auto;
    position: relative;
    display: flex;
    justify-content: center;
    height: 45px;
    
  }
  
  input{
    border: 2px solid #eee;
    display: block;
    padding-left: 35px;
    width: 300px;
    border-radius: 5px;
  }
  
  .icon{
    position: absolute;
    display: flex;
    left: 10px;
    top: 15px;
    align-items: center;
    color: black;
  }
  
  .submit-btn{
    background-color: #1268b2 ;
    border: none;
    border-color: whitesmoke;
    border-radius: 5px;
    height: 35px;
    width: 85px;
  }
  
  .copyright{
    
    background-color: black;
    color: gray;
    padding: 1% 3%;
    
  }
  
  
  .social-media {
    background-color: rgb(65, 63, 63);
    display: flex;
    padding: 2%;
    justify-content: center;
  
  }
  
  .social-media h5{
    color: aliceblue;
  }
  
  .fab{
    color: rgb(224, 217, 217);
    padding: 0 25px;
    
  }

  .links a{
    transition: all 500ms ease;
  }

  .links a::before{
    transition: all 300ms ease-in;
    width: 10px;
    top: 10px;
  }

  .single-footer-widget .usefull-links {
    overflow: hidden;
    margin-top: 4px;
}
.single-footer-widget .usefull-links.fl-lft {
    float: left;
    width: 200px;
    margin-right: 0px;
}
.single-footer-widget .usefull-links li {
    margin-bottom: 20px;
    line-height: 16px;
    vertical-align: middle;

    text-decoration:none;
  list-style: none;
}
.single-footer-widget .usefull-links li:last-child{
    margin-bottom: 0px;
}
.single-footer-widget .usefull-links li a{
  position: relative;
  color: #ffffff;
  font-size: 14px;
  vertical-align: middle;
  font-weight: 200;
  transition: all 500ms ease;
  font-family: 'Hind', sans-serif;
  text-decoration:none;
  list-style: none;
}
.single-footer-widget .usefull-links li a:before {
    position: absolute;
    top: 5px;
    left: -10px;
    width: 6px;
    display: none;
    vertical-align: middle;
    height: 6px;
    background: #0392ce;
    content: "";
    border-radius: 50%;
    transition:all 300ms ease-in;
}
.single-footer-widget .usefull-links li a:before:hover {
  display: block;

}
.single-footer-widget .usefull-links li a:hover:before{
  display: block;

	left:0px;	
}
.single-footer-widget .usefull-links li a:hover{
    color: #0392ce!important;
    padding-left:15px;
}

.links li, .usefull-links li{
  list-style: none;
}

